<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div align="center">
    <h1><%= title %></h1>
    <form action="addingUser" method="post">
        <table>
            <tbody>
            <tr><td>Name</td><td><input type="text" name="username"></td></tr>
            <tr><td colspan="2"><h2>Contact Details</h2></td></tr>
            <tr><td>Mobile Number  </td><td><input type="text" name="mobileNo"></td></tr>
            <tr><td>Telephone</td><td><input type="text" name="telephone"></td></tr>
            <tr><td>Email</td><td><input type="email" name="email"></td></tr>
            <tr><td colspan="2"><h2>Address</h2></td></tr>
            <tr><td>Line 1</td><td><input type="text" name="line1"></td></tr>
            <tr><td>Line 2</td><td><input type="text" name="line2"></td></tr>
            <tr><td>Street</td><td><input type="text" name="street"></td></tr>
            <tr><td>City</td><td><input type="text" name="city"></td></tr>
            <tr><td>State</td><td><input type="text" name="state"></td></tr>
            <tr><td>Country</td><td><input type="text" name="country"></td></tr>
            <tr> </tr>
            <tr><td colspan="2" align="center"><button type="submit">Add User</button></td></tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
