<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>User Operations</h1>
<ol>
    <li><a href="users/addUser">Add User</a><br></li><br>
    <li><a href="users/viewAll">View All Users</a></li>
</ol>
</body>
</html>
