<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div align="center">
    <h1><%= title %></h1>
    <form action="updatingUser" method="post">
        <input type="hidden" name="id" value="<%=user._id%>">

        <table>
            <tbody>
            <tr><td>Name :</td><td><input type="text" name="username" value="<%=user.name%>"></td></tr>
            <tr><td colspan="2"><h2>Contact Details</h2></td></tr>
            <tr><td>Mobile Number</td><td><input type="text" name="mobileNo" value="<%=user.contact.mobileNumber%>"></td></tr>
            <tr><td>Telephone</td><td><input type="text" name="telephone" value="<%=user.contact.telephone%>"></td></tr>
            <tr><td>Email</td><td><input type="email" name="email" value="<%=user.contact.email%>"></td></tr>
            <tr><td colspan="2"><h2>Address</h2></td></tr>
            <tr><td>Line 1</td><td><input type="text" name="line1" value="<%=user.address.line1%>"></td></tr>
            <tr><td>Line 2</td><td><input type="text" name="line2" value="<%=user.address.line2%>"></td></tr>
            <tr><td>Street</td><td><input type="text" name="street" value="<%=user.address.street%>"></td></tr>
            <tr><td>City</td><td><input type="text" name="city" value="<%=user.address.city%>"></td></tr>
            <tr><td>State</td><td><input type="text" name="state" value="<%=user.address.state%>"></td></tr>
            <tr><td>Countrt</td><td><input type="text" name="country" value="<%=user.address.country%>"></td></tr>
            <tr> </tr>
            <tr><td colspan="2" align="center"><button type="submit">Update User</button></td></tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
