<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/cf75b05ed3.js"></script>
    <style>
        /*css to for card*/

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 25%;
            margin-left: 35%;
        }
        /*css on card hover*/

        .card:hover {
            box-shadow: 0 5px 10px 0 rgba(0, 0, 1, 0.2);
            /*color: white;*/
        }
        /*css to put distance betn card and its content*/

        .container {
            padding: 2px;
            padding-left: 25%;
        }
        /*css given to eading to put it in center of page*/

        .center {
            margin-left: 15%;
        }

        h1 {
            /*margin-left: 37%;*/
            text-align: center;
            /*box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
            width: 24%;*/
        }
        /*css for button*/

        .button {
            background-color: deepskyblue;
            /* Green */
            border: none;
            color: white;
            padding: 10px 13px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 4px;
        }

        .button:hover {
            background-color: white;
            color: black;
            border: 1px solid deepskyblue;
        }

        .blue-text {
            color: deepskyblue;
        }
    </style>
</head>
<body>
<h1>Add User <a href="/users/addUser ">+</a></h1>
<ol>
    <% userinfo.forEach(function(user){ %>

    <div class="card">
        <div class="container">
            <li>
                <h4 class="blue-text"><b><%= user.name%></b>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="hideShowBtn_<%=user._id%>">
                     <a href="/users/updateUser?id=<%=user._id%>" class="button">Edit</a> <a  href="/users/deleteUser?id=<%=user._id%>" class="button">Delete</a>
                    </span>
                </h4>
                <table>
                    <h4>Contact Details</h4>
                    <tr>
                        <th> <i class="fa fa-address-card-o fa-2x" aria-hidden="true">&nbsp;</i></th>
                        <td><%= user.address.line1%>, <%=user.address.line2%>,<%= user.address.street%>, <%=user.address.city%>, <%=user.address.state%>, <%=user.address.country %></td>
                    </tr>

                    <tr>
                        <th><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>&nbsp; </th>
                        <td><%= user.contact.mobileNumber %></td>
                    </tr>
                    <tr>
                        <th><i class="fa fa-phone fa-2x" aria-hidden="true"></i>&nbsp;</th>
                        <td><%= user.contact.telephone %></td>
                    </tr>
                    <tr>
                        <th><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>   &nbsp;  &nbsp;&nbsp;&nbsp; </th>
                        <td><%= user.contact.email %></td>
                    </tr>
                    <!--<tr>
                        <th>Telephone:</th>
                        <td>67456789</td>
                    </tr>
                    <p>Telephone: </p>
                    <p>Email:</p>
                    <p>Address:</p>
                    <p></p>-->
                </table>
            </li>
        </div>
    </div>
    <% }); %>
</ol>
<script>
    <% userinfo.forEach(function(user){ %>

    $(document).ready(function() {
        // hides edit and delete button by default
        $("#hideShowBtn_<%=user._id%>").hide();
        $(".card").hover(function() {
            // shows buttons on hovering over card
            $("#hideShowBtn_<%=user._id%>").show();
        }, function() {
            // hides button as cursor moves away from card
            $("#hideShowBtn_<%=user._id%>").hide();
        });
    });
    <% }); %>

</script>
</body>
</html>